.loginPage {
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

.loginImage {
    flex: 1;
    background-color: #f5f5f5;
}

.loginImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.loginDetailsSection {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 60px;  
    box-sizing: border-box;
    background-color: #fff;
}

.loginFormSection {
    width: 100%;
}

.loginFormSection h1 {
    font-family: "Roboto", sans-serif;
    color: #545252;
    line-height: 40px;
    margin-bottom: 50px;
}

.loginFormSection h1 span {
    display: block;
    color: #44448b;
}