.signup {
    width: 100%;
    height: 100vh;
    display: flex;
}

.loginImage {
    flex: 1;
    background-color: #f5f5f5;
}

.loginImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.signupDetailsSection {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 60px;
    box-sizing: border-box;
    background-color: #fff;
}

.signupFormSection {
    width: 100%;
}

.signupFormSection h1 {
    font-family: "Roboto", sans-serif;
    color: #545252;
    line-height: 40px;
    margin-bottom: 50px;
}

.signupFormSection h1 span {
    display: block;
    color: #44448b;
}

/*ipad pro landscape*/
@media(min-width: 1181px) and (max-width: 1400px) {}

/*ipad air landscape*/
/*ipad pro portrait*/
@media(min-width: 1024px) and (max-width: 1180px) {}

/*ipad Air portrait*/
@media(min-width: 768px) and (max-width: 1023px) {
    .signupDetailsSection {
        padding: 0px 30px;
    }

    .signupFormSection h1 {
        font-size: 25px;
        margin-bottom: 20px;
    }
}

/*mobile landscape*/
@media(min-width: 667px) and (max-width: 767px) {
    .signup {
        flex-direction: column;
        height: 100vh;
    }

    .loginImage {
        display: none;
        flex: 0;
    }

    .signupDetailsSection {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        padding: 20px 40px;
        box-sizing: border-box;
        overflow-y: auto;
    }

    .signupFormSection {
        width: 100%;
        padding-top: 10px;
    }

    .signupFormSection h1 {
        text-align: center;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 20px;
    }
}

/*mobile portrait*/
@media(max-width: 666px) {
    .signup {
        flex-direction: column;
    }

    .loginImage {
        display: none;
        flex: 0;
    }

    .signupDetailsSection {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
    }

    .signupFormSection h1 {
        text-align: center;
        font-size: 25px;
    }
}